@font-face {
    font-family: 'Roboto Condensed';
    src: url('RobotoCondensed-Regular.eot');
    src: local('Roboto Condensed'), local('RobotoCondensed-Regular'),
        url('RobotoCondensed-Regular.eot?#iefix') format('embedded-opentype'),
        url('RobotoCondensed-Regular.woff') format('woff'),
        url('RobotoCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('RobotoCondensed-BoldItalic.eot');
    src: local('Roboto Condensed Bold Italic'), local('RobotoCondensed-BoldItalic'),
        url('RobotoCondensed-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('RobotoCondensed-BoldItalic.woff') format('woff'),
        url('RobotoCondensed-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('RobotoCondensed-Bold.eot');
    src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'),
        url('RobotoCondensed-Bold.eot?#iefix') format('embedded-opentype'),
        url('RobotoCondensed-Bold.woff') format('woff'),
        url('RobotoCondensed-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('RobotoCondensed-LightItalic.eot');
    src: local('Roboto Condensed Light Italic'), local('RobotoCondensed-LightItalic'),
        url('RobotoCondensed-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('RobotoCondensed-LightItalic.woff') format('woff'),
        url('RobotoCondensed-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('RobotoCondensed-Italic.eot');
    src: local('Roboto Condensed Italic'), local('RobotoCondensed-Italic'),
        url('RobotoCondensed-Italic.eot?#iefix') format('embedded-opentype'),
        url('RobotoCondensed-Italic.woff') format('woff'),
        url('RobotoCondensed-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('RobotoCondensed-Light.eot');
    src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'),
        url('RobotoCondensed-Light.eot?#iefix') format('embedded-opentype'),
        url('RobotoCondensed-Light.woff') format('woff'),
        url('RobotoCondensed-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

body{
    margin-top:200px;
    font-size: 16px;
    line-height: 24px;
    color: white;
    font-family: 'Roboto Condensed';
    background:linear-gradient( rgba(0, 0, 0, 0.5),rgba(255, 255, 255, 0.08) ), url("night-photograph-2183637_1920.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-color: black;
}
div{
    width: 724px;
    margin: 43px auto 0;
    padding: 0 20px;
}
h1{
    font-size: 60px;
    font-weight: bold;
    text-shadow: 0 3px 0 rgba(0,0,0,0.3);
    margin-bottom: 30px;
}
h2{
    color:#6875eb;
    text-shadow: 0 2px 0 rgba(0,0,0,0.5);
}
h1+p{
    font-size: 24px;
    line-height: 30px;
    color: #000066;
    text-shadow: 0 1px 0 rgba(255,255,255,0.35);
    margin-bottom: 42px;
}
#main h1{
    line-height:60px;

}
.post{
    margin-bottom: 30px;
    background-color: rgba(0,0,0,0.3);
    padding: 20px;
    border-bottom: 3px solid #6875eb;
    border-left: 3px solid  #6875eb;

    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, .5);
 }
}
p{
    font-weight: normal;
    font-style: normal;
}

#upr2-3 {
  width: 90%;
  height: 90%;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: underline;
}
